/* .journalItem {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  color: #FFF;
  padding: 20px;
} */

.journalItemHeader {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.journalItemBody {
  display: flex;
  gap: 10px;
}

.journalItemDate {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.journalItemText {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}